<div class="resume-container" id="resume">
    <span class="summary">04</span>
    <div class="title-h1">{{ 'resume.title' | transloco }}</div>
    
    <div class="content">
        <div class="professional-resume">
            <span class="summary">{{ 'resume.titleProfessional' | transloco }}</span>
            <div class="card-container">
                @for(work of works; track work.enterprise) {
                    <div class="card">
                        <div class="header">
                            <span class="title-h1">{{ work.enterprise }}</span>
                            <span class="year">{{ work.year }}</span>
                        </div>
                        <span class="title-h1">{{ systemLanguage === 'pt-BR' ? work.vocation : work.vocationEN }}</span>
                        <span class="description-h1">{{ systemLanguage === 'pt-BR' ? work.description : work.descriptionEN }}</span>
    
                        <div class="button-container">
                            <button class="button-tertiary">VER DETALHES <mat-icon svgIcon="arrow"></mat-icon></button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="formation-container">
            <span class="summary">{{ 'resume.titleFormation' | transloco }}</span>
            @for(education of educations; track education.education) {
                <div class="education-content">
                    <span class="year">{{ education.year }}</span>
                    <span class="education">{{ systemLanguage === 'pt-BR' ? education.education : education.educationEN }}</span>
                    <span class="location">{{ systemLanguage === 'pt-BR' ? education.location : education.locationEN }}</span>
                </div>
            }
        </div>
    </div>
</div>
