@use "../../../../assets/mixins.scss" as *;

.projects-container {
    .description-h1 {
        margin-top: 2rem;
    }

    .projects-main {
        @include cardContainer(285px);

        .project-container {
            @include card(185px);
            gap: 1rem;
            .description-h1 {
                margin-top: 0;
            }

            .title-h1 {
                font-weight: var(--font-weight-semibold);
                font-size: var(--text-xl);
                line-height: var(--tw-leading, var(--text-xl--line-height)); 
            }

            .stacks-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 1rem;

                .stack {
                    @include stackClass();
                }
            }
        }
    }
}